*{
    margin:0;
    padding:0;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content{
    width: 100%;
}
.container{
    flex: 1 1 auto;
}

.header__logo{
    float:left;
    height: 110px;
    width:90px;
    margin: 0px 0 10px 0;
}
.header{
    width: 100%;
    background-color: #f5f5f5;
    height: 120px;
    box-shadow: 0px 5px 10px 5px rgb(107,186,117,0.5);
}
.header__text{
    background-color: rgb(107,186,117,0.45);
    font-size: 20px;
    letter-spacing: 2px;
    height: 20px;
    padding: 10px 0 10px 0;  
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.menu{
    margin: 10px 10px 0 10px;
    display: flex;
    list-style: none;
    background-color: #f5f5f5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu li{
    margin: 5px 0 0 0;
    background-color: rgb(107,186,117,0.45);
    width: 95%;
    text-align: center;
}
.menu a{
    display: block;
    padding: 5px 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.menu a:hover{
    background-color: rgb(107,186,117);
}
.container__row{
    margin: 10px;
}
.container__urls{
    background-color: #f5f5f5;
    padding: 10px 10px 10px 30px;
}
.container__table{
    background-color: rgb(107,186,117,0.5);
    padding:10px
}
.container__form{
    background-color: #f5f5f5;
    padding:10px
}

.footer{
    width: 100%;
    background-color: #f5f5f5;
    box-shadow: 5px 5px 10px 5px rgb(107,186,117,0.5);
}
.footer__row{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}
.footer__text{
    font-size: 12px;
    letter-spacing: 0.4px;
}
table{
    width: 100%;
    font-size: 10px;
}
table,th,td{
    border: 1px solid brown;
    border-color: black;
    text-align: center;
}
tbody tr:nth-child(odd){
    background-color: whitesmoke;
}
tbody tr:nth-child(even){
    background-color: rgb(151, 241, 151);
}
@media screen and (min-width: 426px) {
    .menu{
        flex-direction: row;
        margin: 10px 0 0 0;
    }
    .menu li{
        margin: 5px 10px;
    }
    table{
        font-size: 20px;
        
    }
    .content{
        max-width: 960px;
        margin: 0 auto;
    }
    .container__table{
        
    }
    .container__form{
        padding: 10px;
    }
}
