*{
    margin:0;
    padding:0;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(163,226,197);
}
.content{
    width: 100%;
}
.container{
    flex: 1 1 auto;
    margin: 10px;
}

.header__logo{
    float:left;
    height: 110px;
    width:90px;
    margin: 5px 0 10px 0;
}
 .header__title{
    margin: 0 10px 0 10px;
} 
.header{
    width: 100%;
    background-color: rgb(245,245,245,0.7); 
    height: 120px;
    box-shadow: 0px 5px 10px 5px rgb(107,186,117,0.75);
}
.header__text{
    background-color: rgb(163,226,197);
    font-size: 20px;
    letter-spacing: 2px;
    height: 20px;
    padding: 10px 0 10px 0;  
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.menu{
    margin: 10px 10px 0 10px;
    height: 100px;
    display: flex;
    list-style: none;
    background-color: rgb(245, 245, 245,0.75);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu li{
    width: 95%;
    text-align: center;
    margin: 2px 0;
}
.menu a{
    background-color: rgb(107,186,117,0.5);
    padding: 2px 2px;
    color: black;
    text-decoration: none;
    font-weight: bold; 
    letter-spacing: 0.4px;
    padding: .3em 1em calc(.2em + 1px);
    border-radius: 5px;
    display:block;
    box-shadow: 0 -3px rgb(107,186,117) inset;
    transition: 0.2s;
}
.menu a:hover{
    background-color: rgb(107,186,117);
}
.container__row{
    display: flex;
    flex-direction: column;
    
}
.container__urls{
    background-color: rgb(245, 245, 245,0.8);
    padding: 10px 10px 10px 30px;
}
.container__urls li::marker{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container__urls a{
    text-decoration: none;
    color: #0f7afc; 
    color:black;
    border-bottom: 1px solid;
    border-bottom-color: rgba(15, 122, 252, 0.2); 
    

}
.container__urls li{
    margin: 10px 0;
}
.container__urls a:hover{
    border-bottom: 1px solid;
    text-decoration: none;
    color:#cf0000;
    border-bottom-color: rgba(208, 64, 0, 0.2);
    
}
.container__urls a:visited{
    text-decoration: none;
     color: #800080;  
    border-bottom-color: rgba(128, 0, 128, 0.2);
}
.container__table{
    background-color: rgb(107,186,117,0.5);
    padding:10px
}
.container__form{
    background-color: rgb(245,245,245,0.7);
    padding:10px
}
.footer{
    width: 100%;
    background-color: rgb(245,245,245,0.75);
    box-shadow: 10px 10x 10px 5px rgb(107,186,117,0.5);
}
.footer__row{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}
.footer__text{
    font-size: 15px;
    letter-spacing: 0.4px;
}
table{
    width: 100%;
    font-size: 10px;
}
table,th,td{
    border: 1px solid brown;
    border-color: black;
    text-align: center;
}
tbody tr:nth-child(odd){
    background-color: whitesmoke;
}
tbody tr:nth-child(even){
    background-color: rgb(151, 241, 151);
}
@media screen and (min-width: 426px) {
    .menu{
        height: 60px;
        flex-direction: row;
        margin: 10px 0 0 0;
    }
    .menu li{
        margin: 5px 10px;
    }
    .menu a{
        padding:  10px; 
        font-size: 25px;
    }
    table{
        font-size: 20px;
    }
    .header__text{
        font-size: 30px;
        height: 30px;
    }
    .content{
        max-width: 960px;
        margin: 0 auto;
    }
}
 @media screen and (min-width: 768px){
    .menu{
        margin: 10px 10px 0 10px;
    }
}
@media screen and (min-width: 1024px){
    .menu{
        margin: 10px 0 0 0;
    }
    .header__title{
        margin: 0;
    }
} 